* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

html {
  font-size: 62.5%;
  /*Default font size is 16 px. We set font size to 62.5% because we want our default size to be 10px for the rem measurements we specified below. REM is a unit based on default font size which makes responsive design much easier, as we only need to change the font size to scale everything larger or smaller. */
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  position: absolute; }

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 3rem;
  z-index: 5; }
  .nav .logo {
    line-height: 4rem;
    padding-left: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 4rem; }
  .nav .hamburger {
    transform: translateY(-13px);
    padding-right: 2rem; }

button {
  width: 115px;
  margin-top: 4rem; }

.m-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  margin: 2rem 0; }
  .m-info p {
    font-size: 3rem;
    line-height: 4rem;
    color: #6e6e6e; }

.test {
  z-index: -2;
  width: 100%; }
  .test .header {
    background-image: url(https://mui.today/__export/1582943787348/sites/mui/img/2020/02/28/jackie-chan.jpg_617962631.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: -17rem;
    position: fixed;
    padding: 3rem;
    z-index: -2; }
    .test .header .message {
      padding-left: 2rem;
      position: relative;
      color: white;
      top: 35%;
      max-width: 50rem;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 5rem; }
      .test .header .message p {
        font-size: 1.4rem; }
  .test .movieList {
    display: flex;
    margin-top: 75vh;
    justify-content: center;
    background: white; }
    .test .movieList .inner {
      font-size: 4rem;
      padding: 3rem;
      max-width: 1200px; }
      .test .movieList .inner .biography {
        display: flex;
        flex-direction: column; }
        .test .movieList .inner .biography p {
          margin-top: 4rem;
          max-width: 80rem;
          align-self: flex-end; }
      .test .movieList .inner .movie {
        margin-top: 10rem;
        margin-left: 12rem; }
        .test .movieList .inner .movie .imageContainer {
          display: flex;
          justify-content: space-between; }
          .test .movieList .inner .movie .imageContainer .pictures {
            width: 43%; }
          .test .movieList .inner .movie .imageContainer .adjusted {
            height: 75%;
            position: relative;
            right: 3rem; }
          .test .movieList .inner .movie .imageContainer .rushHour {
            box-shadow: 2rem 3rem #ff4f75;
            position: relative;
            top: 16rem; }
          .test .movieList .inner .movie .imageContainer .drunkenMaster {
            box-shadow: 2rem 5rem #148270;
            width: 50%;
            position: relative;
            bottom: 9rem; }
        .test .movieList .inner .movie .caption {
          margin-top: 7rem; }
          .test .movieList .inner .movie .caption h1 {
            margin: 3rem 0; }
          .test .movieList .inner .movie .caption p {
            line-height: 4rem;
            max-width: 45rem; }
  .test .footer {
    display: flex;
    background-color: white;
    padding: 0 10rem;
    margin: 0; }
    .test .footer .foot {
      border-top: 1.5px solid black;
      flex: 1;
      font-size: 1.8rem;
      padding-bottom: 4rem;
      position: relative; }
      .test .footer .foot h1 {
        margin: 3rem 0; }
      .test .footer .foot P {
        font-weight: bold;
        font-size: 2rem;
        line-height: 3.4rem; }
    .test .footer .watermark {
      position: absolute;
      bottom: 4rem;
      right: 0;
      font-size: 1.5rem;
      text-align: right;
      min-width: 277px; }

@media screen and (max-width: 800px) {
  html {
    font-size: 6px; } }

@media screen and (min-width: 1100px) {
  .biography {
    align-items: flex-end; }
    .biography p {
      text-align: right; }
  .movie {
    margin-left: 2rem !important; } }
