* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

html {
    font-size: 62.5%; /*Default font size is 16 px. We set font size to 62.5% because we want our default size to be 10px for the rem measurements we specified below. REM is a unit based on default font size which makes responsive design much easier, as we only need to change the font size to scale everything larger or smaller. */
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 3rem;
    z-index: 5;
}

.logo {
    line-height: 4rem;
    padding-left: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
}

.hamburger {
    transform: translateY(-13px);
    padding-right: 2rem;
}

.test {
    /* position: absolute; */
    /* display:flex; */
    z-index: -2;
    width: 100%
}
.header {
    background-image: url(https://mui.today/__export/1582943787348/sites/mui/img/2020/02/28/jackie-chan.jpg_617962631.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: -9rem;
    position: fixed;
    padding: 3rem;
    z-index: -2;
    /* display:flex; */
}

.header::after{
    content: '';
    clear: both;
    display: table;
}
.message {
    padding-left: 2rem;
    position: relative;
    color: white;
    top: 35%;
    max-width: 50rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5rem;
}
.message p {
    font-size: 1.4rem;
}

.page-description {
    display: flex;
    margin-top: 75vh;
    justify-content: center;
    background: white;
}
.inner {
    font-size: 4rem;
    /* z-index: 500; */
    padding: 3rem;
    max-width: 1440px;
}

.biography {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.biography p {
    margin: 4rem 0 3rem 0;
    font-size: 3rem;
    max-width: 740px;
    line-height: 4rem;
    align-self: flex-end;
}

.biography button {
    width: 15%;
}

@media screen and (max-width: 800px){
    html{
        font-size: 6px;
    }
}
@media screen and (min-width: 1000px){
    .biography {
        align-items: flex-end;
    }
    .biography p {
        text-align: right;
    }
}
