

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

html {
    font-size: 62.5%; /*Default font size is 16 px. We set font size to 62.5% because we want our default size to be 10px for the rem measurements we specified below. REM is a unit based on default font size which makes responsive design much easier, as we only need to change the font size to scale everything larger or smaller. */
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 3rem;
    z-index: 5;

    .logo {
        line-height: 4rem;
        padding-left: 2rem;
        font-family: 'Playfair Display', serif;
        font-size: 4rem;
    }

    .hamburger {
        transform: translateY(-13px);
        padding-right: 2rem;
    }
}

// Resuable Code

button {
    width: 115px;
    margin-top: 4rem;
}

.m-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin: 2rem 0;
    // display: flex;
    // flex-direction: column;

    p {
        font-size: 3rem;
        line-height: 4rem;
        color: #6e6e6e;
        // margin: 4rem 0 3rem 0;
        // max-width: 800px;
        // align-self: flex-end;
    }

}

//


.test {
    z-index: -2;
    width: 100%;

    .header {
        background-image: url(https://mui.today/__export/1582943787348/sites/mui/img/2020/02/28/jackie-chan.jpg_617962631.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        top: -9rem;
        position: fixed;
        padding: 3rem;
        z-index: -2;
    
        .message {
            padding-left: 2rem;
            position: relative;
            color: white;
            top: 35%;
            max-width: 50rem;
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 5rem;

            p {
                font-size: 1.4rem;
            }
        }
    }

    .movieList {
        display: flex;
        margin-top: 75vh;
        justify-content: center;
        background: white;

        .inner {
            font-size: 4rem;
            padding: 3rem;
            max-width: 1200px;
            // position: absolute;

            .biography {
                display: flex;
                flex-direction: column;

                p {
                    margin-top: 4rem;
                    max-width: 80rem;
                    align-self: flex-end;
                }
            }

            .movie{
                margin-top: 10rem;
                margin-left: 12rem;

                .imageContainer {
                    display:flex;
                    justify-content: space-between;

                    .pictures {
                        width: 43%;
                    }
                    .adjusted {
                        height: 75%;
                        position: relative;
                        right: 3rem;
                    }
                    .rushHour {
                        box-shadow: 2rem 3rem #ff4f75;
                        position: relative;
                        top: 16rem;
                    }
                    .drunkenMaster {
                        box-shadow: 2rem 5rem #148270;
                        width: 50%;
                        position: relative; 
                        bottom: 9rem;
                    }
                }
                
                .caption {
                    margin-top: 7rem;

                    h1 {
                        margin: 3rem 0;
                    }
                    p {
                        line-height: 4rem;
                        max-width: 45rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    html{
        font-size: 6px;
    }
}

@media screen and (min-width: 1100px){
    .biography {
        align-items: flex-end;

        p {
            text-align: right;
        }
    }
    .movie {
        margin-left: 2rem !important;
    }

}