.movie-card {
    margin-top: 10rem;
    position: relative;

    &__imageContainer {
        display:flex;
        justify-content: space-between;
    }

    &__image {
        width: 43%;

        &--adjusted {
            height: 75%;
            position: relative;
            right: 3rem;
        }
    }
        .rushHour {
            box-shadow: 2rem 3rem #ff4f75;
            position: relative;
            top: 16rem;
        }
        .drunkenPhoto {
            box-shadow: 2rem 5rem #148270;
            width: 50%;
            position: relative; 
            bottom: 12rem;
        }
    
    
    &__caption {
        margin-top: 7rem;
        width: fit-content;
        h1 {
            margin: 3rem 0;
        }
        p {
            line-height: 4rem;
            max-width: 45rem;
        }
    }
}
        