.button {
    width: fit-content;
    display: inline-block;
    margin-top: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color:#fd6b6a;
    padding: 1rem 0 .5rem 0;
    position: relative;
    cursor: pointer;
    
    &::after {
        content: " ";
        height: 2px;
        width: 100%;
        background-color: #fd6b6a;
        display: block;
        position: absolute;
        top: 0;
        transition: top .4s;
    }

    &:hover::after {
        top: 100%;
    }

    &--subscribed {
        display: flex;
        align-items: center;
        border: 2px solid white;
        font-size: 2rem;
        font-weight: bold;
        padding: 0 2rem;
        cursor: pointer;

        span {
            font-size: 2rem;
            margin-left: 1rem;
            transition: all .3s;

        }

        &:hover span {
            transform: translateX(.7rem);
            // background-color: red;
        }

        @include respond(phone) {
            justify-content: center;
            margin: 1rem auto;
            padding: 1.3rem 1.8rem;
        }

    }
}
